{% extends "base.html"%}
{% block title %}add_vocabulary_form{% endblock %}
{% block content %}
<form class="mt-4" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Create a new vocabulary list name:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter list name" name="newList" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">List description:</label>
    <input type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter list description" name="list_description" required>
  </div>
  <button type="submit" class="btn btn-outline-success">Create</button>
  <a href="/vocabulary" class="btn btn-outline-secondary">Cancel</a>
</form>
<hr class="middle_line">
<div class="mt-4 d-flex justify-content-start flex-wrap vocabulary_list_wrapper">
  {% for data in related_list_name %}
    <div class="card border-light mb-3 mr-3" style="max-width: 15rem;">
      <a href="/vocabulary/list/edit/{{data.id}}" class="btn btn-outline-success">Edit</a>
      <a href="/vocabulary/list/delete/{{data.id}}" class="btn btn-outline-secondary">Delete</a>
      <a href="/vocabulary/list/{{data.id}}">
        <div class="card-header">Vocabulary List</div>
        <div class="card-body">
          <h5 class="card-title">{{data.list_name}}</h5>
          <p class="card-text">{{data.description}}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}