{% extends "base.html" %}
{% block title%}edit article vocabulary{% endblock %}
{% block content %}
<div class="col-md-8 mx-auto">
    <form class="p-3 py-5" method="POST">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
                <a href="/vocabulary/article/{{article_id}}/list"><h6>Back to previous</h6></a>
            </div>
            <h6 class="text-right">Edit {{target_vocabulary.spell}}</h6>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label for="vocabulary">vocabulary:</label>
                <input type="text" class="form-control" value="{{target_vocabulary.spell}}" disabled id="vocabulary" name="vocabulary">
            </div>
            <div class="col-md-6">
                <label for="partOfSpeech">part of speech:</label>
                <input type="text" class="form-control" value="{{target_vocabulary.part_of_speech}}" id="partOfSpeech" name="partOfSpeech">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label for="definition">Definition:</label>
                <input type="text" class="form-control" value="{{target_vocabulary.definition}}" name="definition" id="definition">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <label for="image_url">Image URL:</label>
                <input type="text" class="form-control" value="{{target_vocabulary.image_url}}" name="image_url" id="image_url">
            </div>
        </div>
        <div class="mt-5 text-right">
            <button class="btn btn-outline-success" type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}