{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content%}
<form class="loginForm" method="POST">
  <h1 class="title-login">USER LOGIN</h1>
  {{form.hidden_tag()}}
  {% for field in form if field.widget.input_type != "hidden" %}
    <div class="form-group row">
      {{field.label(class_="col-sm-2 col-form-label")}}
      <div class="col-sm-10">
        {{field(class_="form-control")}}

        {% for error in field.errors %}
          <small class="text-danger">
              {{error}}
          </small><br>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-outline-success btn-lg mr-3">Sign In</button>
      <a href="/" class="btn btn-outline-success btn-lg">Cancel</a>
    </div>
  </div>
</form>
{% endblock%}