{% extends 'base.html' %}
{% block title%}practice{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center my-3">
  <div class="d-flex flex-row align-items-center back"><i class="fa fa-long-arrow-left mr-1 mb-1"></i>
    {% if visited_user %}
    <a href="/tweets/users/{{visited_user.id}}"><h6>Back to Tweet</h6></a>
    {% else %}
    <a href="/tweets"><h6>Back to Tweet</h6></a>
    {% endif %}
  </div>
</div>
<div class="d-flex flex-wrap justify-content-start">  
  {% if visited_user %}
    {% for user in visited_user.followers %}
    <div class="col-md-3 border user_display">
      <div class="d-flex flex-column align-items-center text-center">
          <a href="/tweets/users/{{user.id}}"><img class="rounded-circle" src="{{user.avatar}}" width="90"></a>
          <span class="font-weight-bold">{{user.first_name}} {{user.last_name}}</span>
          <span class="text-black-50">{{user.email}}</span>
          <span>points:{{user.points}}</span>
          <hr>
          <span>{{user.quote}}</span>
      </div>
    </div>
    {% endfor %}
  {% else %}
    {% for user in user.followers %}
    <div class="col-md-3 border user_display">
      <div class="d-flex flex-column align-items-center text-center">
          <a href="/tweets/users/{{user.id}}"><img class="rounded-circle" src="{{user.avatar}}" width="90"></a>
          <span class="font-weight-bold">{{user.first_name}} {{user.last_name}}</span>
          <span class="text-black-50">{{user.email}}</span>
          <span>points:{{user.points}}</span>
          <hr>
          <span>{{user.quote}}</span>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}